* {
    color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Plain Light";
}
#main{
    position: relative;
}

html ,body {
    background-color: #0B0B0B;
  height: 100%;
  width: 100%;
}

#loader{     
    height: 100%;
    width:100%;
    position: fixed;
    background-color: #0B0B0B;
    padding:25vh 10vh;
}
.h1loader h1{
    z-index: 999;
    font-size: 6vw;
    text-transform: uppercase;
}

#progress{
     display: flex;
     align-items: center;
     justify-content: center;
     gap:1.1vw;
     margin: 0 2vw
}

#progress h5{
    width:6vw;
    text-align: right;
}
#progress h5 , #progress h6{
    font-size: 3vw;
    font-family: "silk serif";
}
.h1loader{
    height: fit-content;
    overflow: hidden;
    display: flex;
     font-weight: 900;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}
#page1{
  background-color: #151515;
    height: 100vh;
    width: 100%;
}

#sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec p{
    opacity: 100;
    width:7vw;
     z-index: 999;
}

.h1loader h1 span{
    animation-name: anime ;
    font-size: 5vw;
    margin-left: 2vw;
    position: fixed;
    animation-duration: 2s;
    animation-iteration-count: infinite ;   
}
@keyframes anime{
    0%{
        font-family: "silk serif";
        -webkit-text-stroke:1px white ;
        color: transparent;
        font-weight: 900;
    }
}